/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    padding: 0;
    margin:0;
}
/* font style */
body{
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/* navigaion bar */
.navbar-container{
display:flex;
padding-top: 60px;
justify-content:space-around;
align-items: center;
}

/* list */
.list{
display:flex;
list-style-type: none;
column-gap: 30px;
position: relative;
right: 350px; 
color:#909090

}

/* logo */
nav>div>img
{
width: 100px;
position: relative;
right: 100px;
}

.banner-container
{
display:flex;
margin-left: 60px;
}

.banner-container:nth-child(1)
{
padding-top:180px;
}

h1{

font-size: 60px;
color: #403363;
}
span{
color: #5955b3;
}
p{
margin-top: 20px;
font-size: 25px;
color: #909090;
}

.btn
{
margin-top: 80px;
}

.banner-container>div>img
{
position:relative;
bottom: 120px;    
}
.nav-button
{
background-color: #5955b3;
color:white;
padding: 15px 30px;
border-radius: 9px;
border-style: none;
font-size: 20px;
}
.btn{
padding: 25px 60px;
}

/* To make Home in navbar look Black */
li:nth-child(1)
{
color:black; 
}
